<footer class="footer">
  <div class="outer">
    <div class="float-right">
      <%- partial('post/busuanzi') %>
    </div>
    <ul class="list-inline">
      <li>&copy; <%= date(new Date(), 'YYYY') %> <%= config.title %></li>
      <li><%= __('powered_by') %> <a href="http://www.alivn.top/" target="_self">Alivn</a></li>
      <li><%= __('备案号 ') %> <a href="http://beian.miit.gov.cn/">蜀ICP备19039222号-1</a></li>
    </ul>
  </div>
</footer>
